@charset "UTF-8";
/* CSS Document */

:root {
	--inactive: brightness(100%);
	--active: brightness(130%);
	--font: 'Work Sans', 'Maven Pro', sans-serif;
}

body {
	background-color:#ffffff;
	font-family: var(--font);
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

div#portfolio-main {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	max-width: 800px;
}

#project-page {
	width:100%;
	padding-top: 0px;
	margin-top: 0px;
}

#content-div {
	font-size: 16px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	margin-bottom: 70px;
}

.left {
	vertical-align: top;
	width: 65%
}

.right {
	vertical-align: top;
	padding-left: 6%;
	width: 35%;
}

ul {
	padding-left: 0px;
	margin-top: 0px;
}

li {
	list-style: none;
}

hr {
	border-style: none;
	height: 3px;
	color: #000;
	background-color: #000;
}

a {
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}

h4 {
	font-size: 14px;
	margin-bottom: 0px;
}

#top-picture-div {
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

#collab-div {
	font-size: 14px;
}

#prizes-div {
	font-size: 14px;
	padding-top: 10px;
}

#checkout-div {
	font-size: 14px;
}

#video-div {
	padding-top: 50px;
	padding-bottom: 50px;
}

#other-div {
	margin-top: 100px;
}

table.menu, tr.menu, td.menu {
	width: 100%;
	background-color: #fff;
	border-spacing: 0px;
}

table.mini {
	margin-top: 20px;
	margin-bottom: 20px;
}

td.menu {
	width: 20%;
	height: 260px;
	padding: 0px;
	margin: 0px;
	vertical-align: top;

	border-width: 1.5px;
	border-color: #fff;
	border-style: solid;
}

td.mini {
	height: 180px;
}

.inactive-anim {
	/* grayscale */
	-webkit-animation: toinactive 0.4s 1;
	-webkit-filter: var(--inactive); /* Safari 6.0 - 9.0 */
	filter: var(--inactive);
	padding: 0px;
	margin: 0px;
}

.inactive {
	/* grayscale */
	-webkit-filter: var(--inactive); /* Safari 6.0 - 9.0 */
	filter: var(--inactive);
	padding: 0px;
	margin: 0px;
}

@keyframes toinactive {
	0% {
		-webkit-filter: var(--active); /* Safari 6.0 - 9.0 */
	    filter: var(--active);	
	}
	100% {
		-webkit-filter: var(--inactive); /* Safari 6.0 - 9.0 */
	    filter: var(--inactive);	
	}
}

.active {
	animation: toactive 0.4s 1;
	-webkit-filter: var(--active); /* Safari 6.0 - 9.0 */
	filter: var(--active);	
	padding: 0px;
	margin: 0px;
}

@keyframes toactive {
	0% {
		-webkit-filter: var(--inactive); /* Safari 6.0 - 9.0 */
	    filter: var(--inactive);	
	}
	100% {
		-webkit-filter: var(--active); /* Safari 6.0 - 9.0 */
	    filter: var(--active);	
	}
}

.hidden {
	visibility: hidden;
}

td#name {
	position: relative;
	background-color: #fff;
	padding: 2px;
	vertical-align: top;
}

p#galsasson {
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

p#portfolio {
	padding: 0px;
	margin-top: 0px;
}

p#about {
	position: absolute;
	bottom: 0px;
	cursor: pointer;
}

p#more {
	padding: 0px;
	margin-top: 0px;
	font-size: 14px;
	/*cursor: pointer;*/
	/*display: inline-block;*/
	vertical-align: top;
	text-align: right;
}

#more-span {
	cursor: pointer;
}

div.info {
	position: relative;
	line-height: 1.3;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	height: 100%;
	vertical-align: bottom;
}

p.info {
	position: absolute;
	padding: 6px;
	margin: 0px;
	font-size: 14px;
	bottom: 0px;
}

span.info {
	padding-left: 2px;
	padding-right: 2px;
	background-color: #fff;
}

.transparent {
	opacity: 0;
}

.transparent-anim {
	animation: totransparent 0.4s 1;
	opacity: 0;
}

.opaque-anim {
	animation: toopaque 1s 1;
	opacity: 1;
}

@keyframes totransparent {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes toopaque {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



div#mcny {
	background: url(img/future-city-lab.jpg) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#biodesign {
	background: url(img/biodesign.jpg) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#one-world {
	background: url(img/one-world.jpg) 49% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#clouds {
	background: url(img/clouds.jpeg) 70% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#cooper-hewitt {
	background: url(img/cooper.jpg) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#makeaplay {
	background: url(img/makeaplay.jpg) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#duet {
	background: url(img/duet.jpg) 50% 30% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#gogoam {
	background: url(img/gogoam.jpg) 60% 42% no-repeat;
	background-size: 600%;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

div#tweakmode {
	background: url(img/tweakmode.jpg) 26% 42% no-repeat;
	background-size: 600%;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

