
#content {
	background-image: url(../img/content-bg.jpg);
	background-repeat: no-repeat;
	min-height:1030px;
	width:600px;
	padding-left:120px;
	padding-right:80px;
	padding-top:90px;
	font-size:22px;
	color:#009;
	line-height:32px;
	font-family: "caflisch-script-pro",sans-serif;
}
#wrapper {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
